# Core ML
torch
transformers
peft
accelerate
datasets

# Experiment tracking
wandb

# NLP
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
nltk
sentencepiece
emoji==0.6.0 # bertweet normalisation needs this fixed to 0.60
gensim
outlines # needs python >3.10

# Data & ML utilities
pandas
numpy
scikit-learn
tqdm

# Visualization
matplotlib
seaborn
wordcloud
tmplot

# Utilities
python-dotenv
protobuf
ipykernel
